# Clerk Public Key (Get from dashboard.clerk.com)
# NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_Y2xlcmsuaGVsbG8uZGV2JA
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_bG92aW5nLWtvYWxhLTM3MTQuY2xlcmsuYWNjb3VudHMuZGV2JA
CLERK_SECRET_KEY=sk_test_xDbMlKTRi2aPw7x6D4wcKGNfbQqH8buC9qkFve2qIe
# Backend FastAPI URL
NEXT_PUBLIC_API_URL=http://localhost:8000

# Clerk Route Paths
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=/dashboard
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=/dashboard
